$grid-gap: 1.2rem;
$tile-size: 8rem;
$connector-size: 1.8rem;

.grid {
    display: flex;
    flex-direction: column;
    gap: $grid-gap;
    width: min-content;
    margin: 2rem auto;
}

.grid-row {
    display: flex;
    flex-direction: row;
    gap: $grid-gap;
    margin: 0px 2rem;
}

.grid-element {
    width: $tile-size;
    min-width: $tile-size;
    height: $tile-size;
    min-height: $tile-size;
    position: relative;
    
    .tile {
        width: 100%;
        height: 100%;
        border-radius: .4rem;
        background-color: var(--bg-container);
        transition: transform .1s ease-in-out;
        box-shadow: var(--box-shadow--small);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .3rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.07);
        }

        &.core {
            color: var(--accent-core);
        }

        &.active {
            outline: 1px solid var(--bg-container--overlay);
        }

        p {
            font-size: .9rem;
            margin: 0px;
            font-weight: 600;
            padding: 0px .5rem;
        }

        animation: plopIn .3s ease-in-out;
    }

    .connectors {
        transform: scale(0);
        z-index: -1;
        animation: plopIn .3s .3s ease-in-out forwards;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    
    .connector {
        position: absolute;
        width: calc(100% + calc($grid-gap * 2));
        border-radius: .3rem;
        height: $connector-size;
        background-color: var(--text-main);
        opacity: .05;
        top: 50%;
        transform: translate(-$grid-gap, -50%);
        
        &.connector--vertical {
            width: $connector-size;
            height: calc(100% + calc($grid-gap * 2));
            left: 50%;
            transform: translate(-50%, 0rem);
            top: -$grid-gap;
        }
    }
}

@keyframes plopIn {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}