:root {
  --window: white;
  
  --bg-container: hsl(220, 20%, 95%);
  
  --bg-container--overlay: rgba(0, 0, 0, 0.5);
  
  --text-main: black;

  --scrollbar-window: rgba(0, 0, 0, .2);
  
  --accent-core: hsl(35, 95%, 60%);
  --accent-neutral: hsla(0, 0%, 20%, 0.6);
  --accent-neutral--overlay: hsla(0, 0%, 20%, 0.1);
  --accent-success: hsla(156, 79%, 40%, 0.9);
  --accent-success--overlay: hsla(156, 60%, 40%, 0.1);

  --box-shadow--small: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --window: black;
    --window: rgb(12, 12, 16);
    
    --bg-container: rgb(28, 28, 32);
    
    --bg-container--overlay: rgba(255, 255, 255, 0.5);

    --text-main: white;
  
    --scrollbar-window: rgba(255, 255, 255, .2);
    
    --accent-core: hsl(35, 95%, 60%);
    --accent-neutral: hsla(0, 0%, 90%, 0.6);
    --accent-neutral--overlay: hsla(0, 0%, 70%, 0.1);
    --accent-success: hsla(156, 79%, 50%, 0.8);
    --accent-success--overlay: hsla(156, 60%, 50%, 0.1);

    --box-shadow--small: rgba(0, 0, 0, 0.6) 0px 2px 5px 0px;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  background-color: var(--window);
  color: var(--text-main);
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: var(--scrollbar-window);
}